.Image {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.Image__Image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  user-select: none;
  cursor: crosshair;
}

.Image__Error {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  color: #F43A32;
  background-color: #171717;
  border: 1px solid #0C0C0C;
  border-radius: 4px;
}

.Image__Url {
  display: block;
  font-style: italic;
  word-wrap: break-word;
}

.Image__Box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.Image___Box--Bordered {
  border: 1px solid #60E4FF;
}
.Image__Box:hover,
.Image__Box--Editing {
  border-color: #60E4FF;
  cursor: move;
}

.Image__Box__DragArea {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  color: #042E5A;
  border-color: transparent transparent #007bff transparent;
}
.Image__Box:hover .Image__Box__DragArea,
.Image__Box--resizing .Image__Box__DragArea {
  display: flex;
}
.Image__Box--moving .Image__Box__DragArea {
  display: none !important;
}

.Image__Box__DragArea:hover {
  cursor: nwse-resize;
}
.Image__Box__DragArea::before {
  content: "…";
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  top: 4px;
  left: -14px;
  font-size: 11px;
}

.Image__Box__DeleteButton {
  box-sizing: border-box;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 2px 2px;
  z-index: 3;
  width: 17px;
  height: 17px;
  top: -5px;
  right: -5px;
  background-color: #FC4537;
  color: #3D1511;
  cursor: pointer;
  text-align: center;
  border: 1px solid #3D1511;
  border-radius: 50%;
}
.Image__Box:hover .Image__Box__DeleteButton {
  display: flex;
}
.Image__Box--moving .Image__Box__DeleteButton,
.Image__Box--resizing .Image__Box__DeleteButton {
  display: none !important;
}
.Image__Box__DeleteButton:hover {
  background-color: #FC383B;
  border-color: #FEC4BD;
  color: #FEC4BD;
}
.Image__Box__DeleteButton:before {
  content: "✕";
  font-weight: bold;
  font-size: 10px;
}

.Image__Box__AddEditButton {
  display: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -11px;
  bottom: -11px;
  width: 22px;
  height: 22px;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  color: #333;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.Image__Box:hover .Image__Box__AddEditButton {
  display: flex;
}
.Image__Box--moving .Image__Box__AddEditButton,
.Image__Box--resizing .Image__Box__AddEditButton {
  display: none !important;
}


.Image__Box__ShowLabels {
  display: none;
  max-height: inherit;
}
.Image__Box:hover .Image__Box__ShowLabels {
  display: block;
}
.Image__Box--moving .Image__Box__ShowLabels,
.Image__Box--resizing .Image__Box__ShowLabels {
  display: none !important;
}
