.App { }

.App__ModalContent {
  color: #333;
}

.App__ControlBar {
  box-sizing: border-box;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  padding: 9px 0;
  text-align: center;
  background-color: #222;
  border-bottom: 2px solid #fff;
}
.App__ControlBar:after {
  content: "";
  display: table;
  clear: both;
}

.App__NavButton {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  line-height: 0.85;
  text-align: center;
  font-size: 1.5em;
  background-color: #666;
  color: #fff;
  border: 1px solid #888;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.App__NavButton a {
  color: #fff;
  text-decoration: none;
}

.App__NavButton[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}
.App__NavButton--Prev {
  float: left;
  margin-left: 10px;
}
.App__NavButton--Next {
  float: right;
  margin-right: 10px;
}

.App__Button {
  box-sizing: border-box;
  width: 8em;
  height: 2.2em;
  line-height: 1.4;
  font-size: 14px;
  background-color: #666;
  color: #fff;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
}
.App__Button + .App__Button {
  margin-left: 10px;
}
.App__Button[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

/* Button variants */
.App__Button--Primary {
  background-color: #3D98AA;
  border-color: #4EA4B5;
}
.App__Button--Danger {
  background-color: #B6342B;
  border-color: #C23E34;
}

.App__Image {
  margin-top: 52px;
}
.DateRangePickerInput {
  border: 0;
  background: none;
}
.DateInput {
  width: inherit;
  line-height: 12px;
  font-size: 12px;
  padding: 0;
  color: #fff;
  background: none;
}
.DateInput__display-text--has-input {
  color: #fff;
}
